@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Shadows+Into+Light&display=swap');


:root {
    --main-color: azure;
    --main-font: #05668D;
    --main-green: #02c39a;
    --main-light: #f0f3bd;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-font);
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list li a {
    margin-right: 20px;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    color: azure;
    padding: 5px;
    border-radius: 5px;
}
.nav-list li a:hover {
    border-bottom: 1px solid azure;
}
.welcome-section {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-color: azure;
    opacity: 0.85;
    display: grid;
    text-align: center;
    align-content: center;
}
.welcome-section h1 {
    font-size: 10rem;
    font-family: 'Shadows Into Light', cursive;
    color: var(--main-font);
}
.welcome-section p {
    font-size: 3rem;
    font-family: 'Kalam', cursive;
    margin-top: 20px;
    color: black;
}
.projects-section {
    margin-top: 20px;
    text-align: center;    
    padding: 20px;
}
.projects-section-header {
    font-size: 3.4rem;
    color: black;
    padding: 20px 0;
    font-family: 'Kalam', cursive;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px;
}
.projects-grid a {
    font-family: 'Kalam', cursive;
    font-size: 1.8rem;
    padding-bottom: 20px;
    color: black;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 1px var(--main-font);
}
.projects-grid .lewagon {
    padding: 5px;
    background-image: url('./img/lewagon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projects-grid .google-clone {
    padding: 5px;
    background-image: url('./img/google-clone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projects-grid .techdocupage {
    padding: 5px;
    background-image: url('./img/techDocuPage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projects-grid .survey-form {
    padding: 5px;
    background-image: url('./img/surveyForm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projects-grid .landing-project {
    padding: 5px;
    background-image: url('./img/landingProject.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projects-grid .freecodecamp {
    padding: 5px;
    background-image: url('./img/freeCodeCamp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-projects {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    height: 30px;
    box-shadow: 0 1px 1px #000001;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-font);
}
.btn-projects .right-arrow {
    margin-left: 5px;
}
.contact-section {
    width: 100%;
    height: 60vh;
    background-color: var(--main-green);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-section-header h2 {
    font-size: 6rem;
    font-family: 'Kalam', cursive;
    color: white;
}
.contact-section-header p {
    margin-top: 5px;
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 3rem;
}
.contact-links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 840px;
}
.contact-details {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 1px var(--main-font);
    transition: transform 0.3s ease-out;
    margin-top: 50px;
  }
  .contact-details:hover {
    transform: translateY(8px);
}
.icons-thanks {
    margin-top: 20px;
    align-items: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
footer {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    line-height: 15px;
    height: auto;
    text-align: left;
    background-color: var(--main-font);
    padding: 10px;
    color: white;
    font-family: 'Kalam', cursive;
  }
footer h3, .right-footer, .left-footer, a {
    margin-right: 20px;
    color: white;
    font-size: 1rem;
}
footer a {
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
